<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;
    }
  </style>
  <title>BMR Kalkulator</title>
</head>

<body class="bg-gray-100 h-screen">
  <div class="container ml-10 pb-10">
    <div>
      <h2 class="font-bold mt-20 text-2xl">Kalori Yang Dibutuhkan Untuk Hidup</h2>
      <p class="mt-5">
        Apakah Anda sedang dalam misi penurunan berat badan dan ingin tahu berapa jumlah minimum kalori yang Anda butuhkan untuk tetap hidup. Apakah alat penghitungan tingkat metabolisme basal ini yang Anda butuhkan?
      </p>
      <p class="mt-5">
        Kalkulator Tingkat Metabolik Basal atau Kalkulator BMR memberi tahu Anda jumlah kalori yang dibutuhkan tubuh Anda untuk terus berfungsi dengan baik. Jika Anda ingin tahu apa BMR saya, Anda perlu menghitung laju metabolisme basal menggunakan BMR kalkulator ini. Tingkat metabolisme basal tergantung pada massa otot yang Anda miliki di tubuh Anda. Jika Anda lebih berotot daripada BMR Anda, itu akan lebih tinggi daripada orang yang hanya gemuk tetapi tidak memiliki otot yang bagus. Dan otot Anda membutuhkan energi untuk terus bekerja dan jika tubuh Anda tidak mendapatkan sedikit pun energi, itu akan mengendurkan otot Anda dan Anda akan mulai merasa lelah dan lesu.</p>
    </div>
    <div>
      <h2 class="mt-10 m-auto font-bold text-2xl"> Apa itu BMR ? </h2>
      <p class="mt-5"> BMR merupakan singkatan dari Basal Metabolic Rate atau Tingkat Metabolisme Dasar. BMR mengukur jumlah energi, diukur dalam kalori, yang dibutuhkan oleh tubuh saat beristirahat untuk menjalankan fungsi-fungsi fisiologis dasar seperti pernapasan, peredaran darah, dan produksi sel. Dengan kata lain, BMR adalah jumlah kalori yang dibutuhkan oleh tubuh untuk menjalankan fungsi dasar ini saat sedang istirahat.
      </p>
    </div>

    <div>
      <h2 class="mt-10 font-bold text-2xl"> Faktor Yang Mempengaruhi BMR</h2>
      <p class="mt-5">Beberapa faktor memengaruhi BMR, termasuk usia, jenis kelamin, berat badan, tinggi badan, dan komposisi tubuh. Secara umum, BMR lebih tinggi pada individu dengan massa otot lebih banyak dan lebih rendah pada mereka yang memiliki persentase lemak tubuh yang tinggi. BMR merupakan komponen penting dalam menentukan jumlah total kalori yang diperlukan seseorang dalam sehari, karena berfungsi sebagai dasar perhitungan kebutuhan energi.
      </p>
    </div>

    <p class="mt-5">Perlu diingat bahwa BMR hanyalah satu faktor dalam perhitungan kebutuhan energi harian total (Total Daily Energy Expenditure atau TDEE), yang mencakup kalori yang terbakar melalui aktivitas fisik dan efek termogenik dari makanan. Memahami BMR dapat membantu individu yang ingin mengelola berat badan atau mengembangkan rencana nutrisi dan kebugaran yang personal.</p>

    <p class="mt-10">
      referensi : <a class="hover:text-blue-500" href="https://calculator-online.net/id/bmr-calculator/">https://calculator-online.net/id/bmr-calculator/</a>
    </p>


  </div>
</body>

</html>